{% extends "base.html" %}

{% block head %}
    <title>{% block title %} {{ super() }} - About Me{% endblock %}</title>
    {{ super() }}
    {% block style %}
        <style>
            .carousel-inner img {
                width: 100%;
            }

            .jumbo {
                background-color: #444444;
                font-family: Spartan;
            }

            #pageheader {
                padding-bottom: 32px;
            }

            #pagetitle {
                margin-left: 0px;
            }

            #pagetitle h1 {
                color: white;
                margin-top: 50px;
                margin-left: 20px;
                font-size: 48px;
            }

            h2 {
                font-family: Spartan;
            }

            #extra {
                width: 25%;
                height: 25%;
                float: right;
                margin: 30px;
                font-size: 2vw;
                top: 70px;
                background-color: #444444;
                position: sticky;
                z-index: 0;
            }

            #extra h3 {
                font-family: Spartan;
                font-size: 3vw;
                color: white;
            }

            #extra i {
                padding-right: 2rem;
                color: white;
            }

            @media screen and (max-width: 800px) {
                #extra {
                    width: 25%;
                    height: 25%;
                    float: right;
                    margin: 30px;
                    top: 200px;
                    font-size: 2vw;
                    background-color: #444444;
                }
            }

            #footer {
                left: 0;
                bottom: 0;
                width: 100%;
                margin: 0px;
                background-color: #555555;
            }

            #footer i {
                color: white;
                margin: 0px;
                padding: 20px;
                font-size: 24px;
            }

            .fa:hover {
                opacity: 50%;
            }
        </style>{% endblock %}
{% endblock %}


{% block content %}
    <!-- The following carousel will contain more professional and suitable photos eventually.
    For now, I am using some random personal images. -->
    <div id="my_photos" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#my_photos" data-slide-to="0" class="active"></li>
            <li data-target="#my_photos" data-slide-to="1"></li>
            <li data-target="#my_photos" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner" style="overflow: hidden">
            <div class="carousel-item active">
                <div style="height: 500px; overflow: hidden">
                    <img src="/static/images/phys_hacks.jpg" alt="Physics Hackathon">
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/udm.jpg" alt="UDM" height="500">
            </div>
            <div class="carousel-item">
                <img src="/static/images/pine_beach.jpg" alt="Pine Beach" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#my_photos" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#my_photos" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- Text content -->
    {% block page %}
        {{ super() }}
    {% endblock %}

    <div class="card sticky-top" id="extra">
        <div class="card-body">
            <h3>See More</h3>
            <a href="https://www.linkedin.com/in/jose-ale-fernandez/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Joselegenda" target="_blank"><i class="fa fa-github justify-content-*"></i></a>
        </div>
    </div>

    <div class="container" style="margin: 30px">
        <h2>A Brief Look</h2>
        <p>I am a student at Concordia University, and I am pursuing my Bachelor's of Computer Science. I am always
            challenging
            myself and looking for opportunities to learn more about the vast domain of computer science and to connect
            with
            people who have a drive to accomplish something great. Let's not forget to have fun either!
        </p><br/>
        <h2>My Journey So Far</h2>
        <p>
            I started my career in Computer Science when I enrolled in CEGEP Vanier College in the Computer Science and
            Math
            program. Once I started developing and solving small problems, I knew it was my calling. I graduated from
            Vanier
            having been someone who was very involved with the community and excelled in nearly every subject. I am
            still
            proud
            of the efforts I put in to founding the Vanier Coding Club, which brought the people of my program and many
            other curious
            students together, in a community of diverse and motivated learners.
        </p><br/>
        <h2>Goals & Progress</h2>
        <p>
            One of my goals for my time at Concordia University is to meet good people and involve myself in a community
            that
            will bring the best out of me. So far, I've made a considerable leap by joining the Software Engineering and
            Computer
            Science Society (SCS) as their Computer Science First Year Representative. More information to come.
        </p><br/>
        <h2>Hobbies & Interests</h2>
        <p>
            I love playing sports! The problem with Montreal is that half of the year, it's too snowy to play Ultimate
            Frisbee
            or Football (Soccer). During that time, I play competitive and challenging video games (games that are also
            considered
            eSports). More information to come.
        </p><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}


