.jumbo {
    background-color: #444444;
    margin-bottom: 0px;
    font-family: 'Cairo', sans-serif;
}

body{
    background-color: rgba(10, 50, 210, .15);
    font-family: 'Cairo', sans-serif;
}

body h2{
    color: midnightblue;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    background-color: #444444;
}

#footer i {
    color: white;
    margin: 0px;
    padding: 20px;
    font-size: 50px;
}

.fa:hover {
    opacity: 50%;
}