{% extends "base.html" %}

{% block head %}
<title>{% block title %} {{ super() }} - Project Quantum Sim{% endblock %}</title>
{{super()}}
{% block style %}
<style>
    h1 {
        margin-top: 20px;
    }
    img {
        max-width: 500px;
        max-height: 300px;
    }
</style>{% endblock %}
{% endblock %}


{% block content %}
<!-- Content -->
<!-- This template only contains images and text. The information is incomplete but it does not affect the format
of the template. The content varies from project to project either way. -->
<div class="container-fluid" style="margin-top: 10px; margin-left: 30px">
    <h1>Quantum Simulation</h1>
    <p>
        Quantum Sim is a project I undertook with three other teammates at the 2019 McGill Physics Hackathon that involves
        quite literally a simulation for simple quantum computers. The goal of the project was to make the application
        of quantum mechanics in the field of computers easier to understand for the common individual by providing a simple
        visual simulation tool. *MORE INFORMATION TO COME
    </p>
    <img class="card-img-top" src="/static/images/quantum_sim.jpg" alt="Quantum image">
    <p>For more information, visit the <a href="https://devpost.com/software/quantum-computer-simulation" target="_blank">Devpost page</a>.</p><br/>
</div>
{% endblock %}

<!-- These project pages are not main pages, so they don't include a footer. Allows the user to focus on the project
description -->