/* Todo: Add css for mobile */
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: black;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

/* #wrapper {
  background-color: rgba(240, 240, 240, 0.815);
} */

.overlay {
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  position: absolute;
  height: 500px;
  top: 88;
  left: 0;
  z-index: 10000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .MuiButtonBase-root.MuiAccordionSummary-root{
  background-color: rgb(233, 235, 236);
} */

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover{
  border-bottom: 1px solid rgba(2, 38, 240, 0.815);
}

svg{
  color: rgb(9, 13, 226);
}

#forestImage, #sunsetVoyageur {
  max-width: 97%;
}

#skateboard {
  max-width: 98%;
}


/* .makeStyles-par-10 .MuiDivider-root{
  background-color: white;
  opacity: 1;
} */

/* .MuiCollapse-container.MuiCollapse-entered{
  background-color: rgb(233, 235, 236);
} */

/* .MuiListItemIcon-root .MuiSvgIcon-root{
  color: white;
} */

/* .MuiCollapse-wrapper {
  background-color: rgba(240, 240, 240, 0.815);
} */

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true img{
  padding-left: 33px;
}

#techStack {
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

#techStack img {
  width: 64px;
  height: 64px;
}

.gallery img {
  max-height: 400px;
}

/* #techStack img {
  box-shadow: 0px 0px 5px grey;
} */

#welcome {
  margin-top: 12%;
  margin-bottom: 6%;
}