/* Todo: Add css for mobile */
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: black;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

#wrapper {
  background-color: rgba(240, 240, 240, 0.815);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .MuiButtonBase-root.MuiAccordionSummary-root{
  background-color: rgb(233, 235, 236);
} */

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover{
  border-bottom: 1px solid rgba(102, 40, 192, 0.815);
}

svg{
  color: rgb(102, 40, 192);
}

/* .MuiCollapse-container.MuiCollapse-entered{
  background-color: rgb(233, 235, 236);
} */

/* .MuiListItemIcon-root .MuiSvgIcon-root{
  color: white;
} */

#techStack {
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

/* #techStack img {
  box-shadow: 0px 0px 5px grey;
} */