/* Todo: Add css for mobile */
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: black;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  position: absolute;
  height: 500px;
  top: 88;
  left: 0;
  z-index: 10000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button:hover{
  border-bottom: 1px solid rgba(7, 22, 110, 0.815);
}

svg{
  color: rgb(13, 15, 128);
}

#forestImage, #sunsetVoyageur {
  max-width: 97%;
}

#skateboard {
  max-width: 98%;
}

.MuiTableCell-head, .MuiTableCell-body {
  color: white !important;
}

#summary span{
  padding-left: 3em;
  padding-right: 3em;
}

#projects {
  padding: 0em 1.5em;
}

#featured, #b_wrapper {
  padding: 5.5em 1.5em 0.5em 1.5em;
}

#techStack {
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

#techStack img {
  width: 64px;
  height: 64px;
}

.gallery img {
  max-height: 400px;
}

#welcome {
  padding-top: 7%;
  padding-bottom: 5%;
  color: white;
  background-image: url("./assets/wp2763910.gif");
}